/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
}

body {
    background-color: rgba(173, 216, 230, 0.266);
    -webkit-font-smoothing: antialiased;
    font-family: 'roboto', sans-serif;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
}

input,
button,
select {
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}


a {
    text-decoration: none;
    display: block;
}

/* MAIN CSS */
.auth {
    width: 335px;
    margin: 50px auto;
}

textarea:focus,
input:focus {
    outline: none;
}

.auth__container {
    background-color: white;
    padding: 10px 40px 100px 40px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid black;
}

.auth__container h1 {
    margin-bottom: 30px;
    text-align: center;
}

.auth__form {
    display: flex;
    flex-direction: column;
}

.auth__form input,
.auth__form textarea {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid black;
}

.auth__form textarea {
    height: 200px;
}

.auth__form input::placeholder {
    font-weight: 500;
    font-size: small;
}

.auth__form button {
    background-color: rgba(17, 17, 255, 0.527);
    color: white;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 8px;
    padding: 5px 10px;
}

.auth__action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    text-align: center;
    border-radius: 8px;
    border: 1px solid black;
    padding: 5px 0;
}

.auth__action a {
    color: rgba(17, 17, 255, 0.527);
    font-weight: 600;
}