/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
}

body {
    background-color: rgba(173, 216, 230, 0.266);
    -webkit-font-smoothing: antialiased;
    font-family: 'roboto', sans-serif;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
}

input,
button,
select {
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}


a {
    text-decoration: none;
    display: block;
}